<h1><%= @word.name() %></h1>
</h2>Full Definition of <%= @word.name() %> :</h2>
<ol>
  <% @word.meanings().each() do |meaning| %>
    <li><a href="/definitions/<%= meaning.id() %>"><%= meaning.description() %><%= meaning.synonyms() %><%= meaning.antonyms() %><%= meaning.example() %></a></li>
  <% end %>
<ol>

<h2>Add a new definition to <%= @word.name() %>:</h2>

<form action="/definitions" method="post">
  <input id="word_id" name="word_id" type="hidden" value="<%=@word.id() %>">
  <label for="description">What does the word mean?</label>
  <input id="description" name="description" type="text">
  <label for="synonym">What word or words mean something similar to this definition of <%= @word.name() %>?</label>
  <input id="synonym" name="synonym" type="text">
  <label for="antonym">What word or words mean the opposite of this definition of <%= @word.name() %>?</label>
  <input id="antonym" name="antonym" type="text">
  <label for="example">Based on this definition, how would you use this word in a sentence?:</label>
  <input id="example" name="example" type="text">

  <button type="submit" id="add_definition">Submit</button>
</form>
